body{
  background-color: #B31B1B;

}
h1{
  font-style: italic;
}
p{

}
.start {
  height: 10%;
  width: 10%;
  background: url('hammer.png');
  align: right;
  margin: 0;
  display: inline-block;
}
.header {
  height: 10%;
  width: 80%;
  display: inline-block;
  margin-left: 5%;
}
.navi {
  height: 80%;
  width: 90%;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}


a {
  color:black;
  text-decoration: none;
  display: block;
}
#main {
  height:100%;
  width:70%;
  margin: auto;
  margin-top: 0;
  background-color: white;
  display: inline-block;
  box-shadow: 2px 2px darkred;
  height: 800px;
  padding:5px;
}
#left {
width:15%;
display:inline-block;
font-family: cursive;
}
#right {
  width:15%;
}
